.app-header {
  background-color: $main-blue;
  padding: 15px 20px !important;
  color: white;
  margin-bottom: $gap-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 15;
  height: $header-height;

  h1 {
    @include main-logo;
    margin: 0;
    padding-top: 5px;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: $gap-sm;

    &__delete-input {
      @include secondary_button;
      background-color: transparent;
      border: 2px solid white;
      color: white;
      display: flex;
      align-items: center;
      gap: $gap-sm;
      padding: 7px 20px;
      border-radius: $input-radius;

      input {
        background-color: transparent;
        border: none !important;
        width: 60px;
        color: white;
      }
    }
  }
}
