.c-button {
  @include secondary_button;
  background-color: transparent;
  color: black;
  padding: 5px 12px;
  cursor: pointer;
  width: 100%;
  border-width: 0;
  border-radius: $input-radius;
  transition: 0.05s;
  position: relative;

  &--toggle {
    outline: 2px solid $main-blue;
    outline-offset: -2px;
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgba(45, 45, 45, 0.65);
    color: white;
    padding: 5px 13px;
    border-radius: 777px;
    text-align: center;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -30px);
    opacity: 0;
    text-shadow: 0 0 1px black;
    pointer-events: none;
    transition: 0.1s;
  }

  &--floating {
    background-color: white;
    position: fixed;
    bottom: 25px;
    right: 2%;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 0;
    z-index: 10;
    border: 1px solid black;
  }

  &:hover {
    background-color: $main-blue;
    color: white;
    border: none;
  }

  &:hover::before {
    opacity: 1;
    transform: translate(-50%, -35px);
  }

  &::before:empty {
    display: none;
  }

  &[data-tooltip=""]:before {
    display: none;
  }

  //change color when active
  &:active {
    background-color: $main-blue-dark;
    transform: scale(0.9);
    color: white;
    border: none;
  }
}

[data-tooltip=""]:before {
  display: none;
}
