.c-button {
  @include secondary_button;
  background-color: white;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  border-width: 0;
  border-radius: $input-radius;
  transition: 0.05s;

  &:hover {
    background-color: $main-blue-dark;
    color: white;
  }
}
