.c-delete-input {
  @include secondary_button;
  background-color: transparent;
  border-bottom: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 2px;
  border-radius: $input-radius;

  input {
    background-color: transparent;
    border: none !important;
    width: 40px;
    color: color;
  }
}
