.c-options {
  z-index: 15;
  position: fixed;
  top: $header-height;
  height: $options-height;
  background-color: $menu-background;
  padding: 10px 20px;

  .o-container {
    display: flex;
    align-items: center;
    gap: 15px;
    & > * {
      width: fit-content;
      height: 60%;
    }
  }
}
