.c-popup-message {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 3px 35px;
  border-radius: 25px;
  pointer-events: none;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
  z-index: 50;
  @include popup-message;
  transition: all 0.2s ease-in-out;

  &__text {
    padding-bottom: 5px;
  }

  &--visible {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
  }

  &--hidden {
    transform: translate(-50%, 20px);
    opacity: 0;
    visibility: hidden;
  }

  &--positive {
    background-color: $positive-color;
    color: white;
  }

  &--negative {
    background-color: $negative-color;
    color: white;
  }

  &--warning {
    background-color: $warning-color;
    color: white;
  }
}
