$dark-gray: #424242;
$darker-gray: #2b2b2b;
$positive-color: #82b16b;
$negative-color: #c24343;
$main-blue: #5890ff;
$main-blue-dark: #3a6db0;
$main-blue-light: #7ab2ff;
$complementary-orange: #ff8c00;
$pastel-purple: #c0b4f3;
