$header-height: 75px;
$options-height: 85px;
$input-radius: 10px;

//THEME IMPORTS///////////////////
@import "./theme/breakpoints.scss";
@import "./theme/spacing.scss";
@import "./theme/grid.scss";
@import "./theme/typography.scss";
@import "./theme/normalize.scss";
@import "./theme/colors.scss";
@import "./theme/utilities.scss";

@import "/styles/components/rich-text.scss";
@import "/styles/components/c-app-header.scss";
@import "/styles/components/c-button.scss";

a {
  text-decoration: none;
}

.App {
  position: relative;
  padding-top: calc($header-height + $options-height + 15px);
  font-family: $font--primary !important;
  padding-bottom: 150px;

  .input-description {
    color: $main-blue;
    font-size: 17px;
    font-weight: 600;
  }
}

.RichEditor-editor {
  font-family: $font--primary !important;
}

.RichEditor-controls {
  font-family: $font--primary !important;
  font-size: 20px;
  font-weight: bold;
}
